/* Custom CSS for precise positioning of game elements */

/* Game page container styles */

.asen-character {
  position: absolute;
  bottom: 0;
  left: 6%;
  height: 220px;
  width: auto;
  z-index: 12;
}

.peevski-character {
  position: absolute;
  z-index: 11;
}

